{% extends "base.html" %}

{% block content %}
    <h1></h1>

    <p>
        This will start the process of adding your GitHub account to the
        <a href="https://github.com/orgs/MIT-DB-Class">6.830/6.814 organization</a>.
    </p>

    <p>
        You'll log in using GitHub's OAuth and then you will enter your
        <strong>StudentID</strong>. After doing that the system will automatically
        add you to the class &amp; setup your repository for you.
            
    </p>
 <p>Please contact us if you need help finding your ID</p>

    <div>
        <a href="https://github.com/login/oauth/authorize?client_id={{client_id}}&state={{state}}" class="button"><img src="/img/github.png"/>Sign in with GitHub</a>
    </div>
{% endblock %}
